@charset "utf-8";
@font-face {
  font-family: "VitroCore";
  src: local("VitroCore"),
    url(../fonts/VitroCore.otf) format("otf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}